Dine venner kan også få 15% rabat på levering fra etree!
Men tiden er ved at løbe ud.

Du har skrevet dig på listen for at få 15% rabat på levering af juletræer fra etree.
Den mulighed har dine venner også, men kun et par dage endnu!

Salget starter d. 1/11, og de skal have skrevet sig på listen inden da!

Del et link til http://etree.dk med dem, og hjælp dem med at få en lidt billigere jul!

---

Hvis du ikke ønsker at modtage yderligere mails fra etree, gå til http://etree.dk/unsubscribe/{{ id }}
Du afmelder dig også de 15% rabat.
