Nu kan du købe juletræ!
Vi har officielt startet juletræssalget!

Fordi du skrev dig på vores liste før salgets begyndelse, kan du få 15% rabat på levering.
Det får du ved at bruge dette link når du køber: http://etree.dk/?voucher=2016-{{ id }}

Du får rabat på ét salg (kuponnen gælder kun én gang).

Vi håber du får en god jul!
